<div class="container-fluid mt-3 bg-light">
  <!-- (addingNewHero)="addNewSuperhero($event)" -->
  <app-header
    [allSuperpowers]="allSuperpowers"
    [heroToBeEdited]="heroToBeEdited"
    (close)="onFormClose()"
  ></app-header>
  <div class="card-group justify-content-center">
    <app-hero-item
      *ngFor="let hero of heroes"
      [hero]="hero"
      [allSuperpowers]="allSuperpowers"
      (deleteSuperhero)="deleteHero($event)"
      (editSuperhero)="editHero($event)"
    ></app-hero-item>
  </div>
</div>
